.header {
  padding-left: 65px;
  padding-right: 56px;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}